body {
  background-color: #cacde3;
  margin: 5%;
}
.container1 {
  background-color: #e9fafc;
  border-radius: 10px;
  padding: 10px 10px;
  height: 600px;
  margin-bottom: -1%;
}
.nav a {
  text-align: end;
  padding: 10px 40px;
  text-decoration: none;
  margin-top: 2px;
  float: right;
}
h1 {
  font-size: 50px;
}
h4 {
  font-size: large;
}
h3 {
  color: orange;
}
.btn1 {
  background-color: #1aa0ab;
  border-radius: 5px;
  height: 40px;
  width: 100px;
}
.circleimage {
  border-radius: 50%;
  border: 30px solid rgb(187, 182, 182);
  align-items: center;
  float: right;
  align-items: center;
  padding-right: 25px;
  margin-right: 20%;
  margin-top: -26%;
  margin-bottom: -90%;
}
.container2 {
  background-color: #cbebf0;
  height: 100%;
  padding-top: 10px;
}
.container2 h4 {
  float: right;
  padding-right: 50px;
  color: #b3a7c8;
}
.container2 h3 {
  color: #a29fa9;
}
.container2 h5 {
  color: #a29fa9;
}
.firstline {
  display: flex;
  column-gap: 60px;
  row-gap: 20px;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: center;
}
.secondline {
  display: flex;
  justify-content: center;
  padding-bottom: 5%;
}
.card1 {
  background-color: white;
}
.card2 {
  background-color: white;
  margin-left: 5%;
}
.card3 {
  background-color: white;
  margin-left: 5%;
}
.card4 {
  background-color: white;
  margin-right: 9%;
}
.card5 {
  background-color: white;
  padding-right: 4px;
}
.card6 {
  background-color: white;
  margin-left: 10%;
}
.container3 {
  background-color: #f9feff;
  padding: 10px 10px;
  height: 400px;
}
.docimage img {
  background-color: rgb(172, 160, 160);
  height: 450px;
  width: 400px;
  margin-top: 20px;
  margin-left: 20px;
}
.m {
  background-color: #ffffff;
}
.y {
  background-color: #ffffff;
  margin-left: 5%;
  float: left;
}
.veterians h3 {
  color: #1e1c20;
}
.veterians h4 {
  color: #a29fa9;
}
.veterians p {
  color: #d93b3b;
}
.text button {
  background-color: #1aa0ab;
  border-radius: 3px;
  height: 50px;
  width: 100px;
  align-items: center;
  border-radius: 5px;
}
.text {
  color: #6805f2;
  float: right;
  margin-right: 10%;
}
.container4 {
  background-color: #e9fafc;
  height: 100%;
  padding: 10px 10px;
}
.container4 h4 {
  float: right;
  margin-top: -7%;
  color: rgb(172, 160, 160);
}
.container4 p {
  float: right;
  color: #448ff2;
  margin-bottom: 15px;
}
.quotes {
  padding-top: -10%;
}
.container5 h5 {
  float: right;
  color: blue;
  padding-right: 5%;
}
.docs {
  display: flex;
  column-gap: 20px;
  row-gap: 20px;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: center;
}
.doc1 {
  background-color: #f3e3ff;
}
.doc2 {
  background-color: #e7fbff;
}
.black {
  background-color: #fdf7ef;
}
.container5 {
  background-color: #e9fafc;
  height: 100%;
  padding: 10px 10px;
}
.veterians {
  display: flex;
  padding: 30px;
  align-items: center;
}
.veterians p {
  color: orange;
  float: left;
}
.veterians em {
  color: #1e1c20;
}
.cont6 {
  background-color: #cfebf3;
  padding: 10px 10px;
  text-align: center;
}
.cont6 button {
  height: 50px;
  padding-left: -5px;
}
#fname {
  height: 50px;
  width: 200px;
}
.innerbtn {
  background-color: #489cb0;
  height: 50px;
}
.utterbtn {
  background-color: white;
}
.container7 {
  background-color: #f9feff;
  display: flex;
}
.div1 {
  padding: 7%;
}
.div1 em {
  padding-right: 30px;
}
.div2 {
  padding: 7%;
}
.div3 {
  padding: 7%;
}
.div4 {
  padding: 7%;
}

